* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

button {
  background-color: inherit;
  border-width: 0;
}
